*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/release/output.json
app/release/app.aab
app/release/app-release.apk
.idea/caches/build_file_checksums.ser
